

# =============================================================================
# APP DB CONF
# =============================================================================

# Credenciales de la base de datos de la app
DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=data_app




# =============================================================================
# API KEY CONF
# =============================================================================

GOOGLE_API_KEY=your_api_key
GROQ_API_KEY=your_api_key
DEEP_SEEK_API_KEY=your_api_key



# =============================================================================
# GRAFANA CONF
# =============================================================================


GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=""
GRAFANA_ADMIN_PASSWORD=""
GRAFANA_SERVICE_ACCOUNT_TOKEN="your_token"
GRAFANA_SERVICE_ACCOUNT_ID=your_token_id
